.empty {
  background: linear-gradient(225deg, #cfcfcf, #f6f6f6);
}

.green {
  background: #5be172;
}

.red {
  background: #ff5959;
}

.connected {
  /*animation: rotating 1.5s infinite;*/
  animation: blinker 1.2s infinite;
}

@keyframes blinker {
  70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}