.empty {
  background: linear-gradient(225deg, #cfcfcf, #f6f6f6);
}

.green {
  background: #5be172;
}

.red {
  background: #ff5959;
}

.connected {
  animation: blinker 1.2s infinite;
}

@keyframes blinker {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-20%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-12%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}