.column {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    cursor: pointer;
    position: relative;
}

.column:hover:after {
    content: '';
    position: absolute;
    top: -4rem;
    left: 50%;
    height: 2rem;
    width: 2rem;
    background-color: rgb(65, 65, 65);
    transform: translateX(-50%);
    clip-path: polygon(50% 55%, 0 0, 100% 0);
}