:root {
    --width: 35rem;
}

.stage-wrapper {
    width: 45%;
    min-width: var(--width);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 2.5rem;
    padding: 1.5rem;
    grid-gap: 1rem;
    background: rgb(146, 146, 146);
    box-shadow: 2px 2px 10px rgb(14, 14, 14);
    width: var(--width);
    min-width: var(--width);
    min-height: calc((var(--width)/7)*6);
}

@media only screen and (max-width: 1000px) {
    .stage-wrapper {
        width: 100%;
        min-width: var(--width);
        height: 70%;
        min-height: calc((var(--width)/7)*6);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}